<connectionStrings>
  <!--<add name="DataSource" providerName="System.Data.SqlLite" connectionString="Data Source=[[localdb]];Version=3;Legacy Format=True;" />-->
  <add name ="DataSource" connectionString="Server=bombsaway;Database=BombsAway;User Id=bombsaway;Password=bombsaway;"/>
</connectionStrings>